{% extends "products/base.html"%}
{%load static%}

{%block title%}
shooping cart
{%endblock%}

{%block content%}
<h1>shopping cart</h1>

<table class="cart">
    <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit Price</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart%}
        {% with product=item.product %}
        <tr>
            <td>
                <a href="{{product.get_absolute_url}}">
                    <img src="{%if product.image %}{{product.image.url}}{%else%}{% static 'img/no_image'%}{%endif%}" alt="">
                </a>
            </td>
            <td>{{product.name}}</td>
            <!-- <td>{{item.quantity}}</td> -->
            <td>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{item.update_quantity_form.quantity}}
                    {{item.update_quantity_form.override}}
                    <input type="submit" value="update">
                    {%csrf_token%}
                </form>
            </td>
            
            <td>
                <form action="{% url 'cart:cart_remove' product.id%}" method="POST">
                    <input type="submit" value="remove">
                    {%csrf_token%}
                </form>
            </td>
            <td>shs:{{item.price}}</td>
            <td>shs{{item.total_price}}</td>
        </tr>
        {%endwith%}
        {%endfor%}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">Shs:{{cart.get_total_price}}</td>
        </tr>
    </tbody>
</table>
<p class="text-right">
    <a href="{% url 'accounts:homepage' %}" class="buttonlight">continue shopping</a>
    <a href="{% url 'accounts:checkout' user.id %}" class="button"> checkout</a>
</p>
<!-- 
<div align="center">
    <div id="loginScreen">
    <a href="#" class="cancel">×</a>
    <div class="payment-methods">
        <ul>
            <li  class="method">
                <p>with mobile money</p>
                <div id="mobilemoney">
                    <form action="" method="post">
                        {{make_order_form}}
                        <input type="submit" value="order">
                    </form>
                </div>
            </li>
            <li class="method">
                <p>with payments gateway</p>
                <div id="mobilemoney">
                    <form action="" method="post">
                        <ul>
                            <li> <input type="checkbox" name="paymethod" id=""> payperl</li>
                            <li> <input type="checkbox" name="paymethod" id=""> credit card</li>
                        </ul>
                        <input type="submit" value="order">
                    </form>
                </div>
            </li>
            <li class="method">
                <p>payments on deliverly</p>
                <form action="" method="post">
                    <input type="submit" value="order">
                </form>
            </li>
        </ul>
    </div>
    </div>
    <div id="cover" >     
    </div> -->

{%endblock%}