.button
    {
      width: 150px;
      padding: 10px;
      background-color: #FF8C00;
      box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
      font-weight:bold;
      text-decoration:none;
    }
    #cover{
      position:fixed;
      top:0;
      left:0;
      background:rgba(0,0,0,0.6);
      z-index:5;
      width:100%;
      height:100%;
      display:none;
    }
    #loginScreen
    {
      height:380px;
      width:340px;
      margin:0 auto;
      top: -80px;
      position:relative;
      z-index:10;
      display:none;
      background-color: #fff;
      border:5px solid #cccccc;
      border-radius:10px;
    }
    #loginScreen:target, #loginScreen:target + #cover{
      display:block;
      opacity:2;
      
    }
    .cancel
    {
      display:block;
      position:absolute;
      top:3px;
      right:2px;
      background:rgb(245,245,245);
      color:black;
      height:30px;
      width:35px;
      font-size:30px;
      text-decoration:none;
      text-align:center;
      font-weight:bold;
    }

    .payment-methods{
        text-align: left;
    }
    .payment-methods ul{
        list-style: none;
    }
    .payment-methods ul li.method{
        list-style: none;
        border-bottom: 1px solid #cccccc;
        margin-bottom: 10px;
        
    }
    .payment-methods ul li a{
        text-decoration: none;
    }

