{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
    <!-- Featured Products -->
    <h3 class="my-4 border-bottom pb-1">Flavours<h3>
    <div class="row">
      {% if data %}  
        {% for color in data %}
        <div class="col-md-3 mb-4">
            <div class="card shadow">
                <a href="/home/color_product_list/{{color.id}}"><img src="media/{{color.image}}" class="card-img-top" alt="{{color.title}}" /></a>
                <div class="card-body">
                    <h6 class="card-text"><a href="#">{{color.title}}</a></h6>
                </div>
            </div>
        </div>
        {% endfor %}
      {% endif %}  
    </div>
</main>
{% endblock %}    